In [1]:
import pandas as pd

In [2]:
#check version
print(pd.__version__)

2.1.4

In [7]:
#find the index and give a specific name
a=[1,2,3,4,5]
s1=pd.Series(a,index=["i1","i2","i3","i4","i5"])
print(s1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
a=[1,2,3,4,5]
s1=pd.Series(a,index=["i1","i2","i3","i4","i5"])
print(s1["i3"])

3

In [10]:
keyVal={"AIMI":4,"CCN":4,"WS":3,"CS":4}
sKeyVal=pd.Series(keyVal)
print(sKeyVal)

AIMI    4
CCN     4
WS      3
CS      4
dtype: int64

In [11]:
student={"student":["aiml","ccn","ws","cs"],
         "marks":[90,89,70,99]}
sStud=pd.Series(student)
print(sStud)

student    [aiml, ccn, ws, cs]
marks         [90, 89, 70, 99]
dtype: object

In [13]:
#give a data in row and column format
student={"student":["aiml","ccn","ws","cs"],
         "marks":[90,89,70,99]}
sStud=pd.DataFrame(student)
print(sStud)

  student  marks
0    aiml     90
1     ccn     89
2      ws     70
3      cs     99

In [16]:
print(sStud.loc[0])

student    aiml
marks        90
Name: 0, dtype: object

In [36]:
stuData=pd.read_csv('C:\\Users\\Devarsh Shah\\Desktop\\check.csv')
print(stuData)

    srno StudentName         DOB Course  Percentage
0      1     Devarsh  12-09-2003  MSCIT          50
1      2      Dhyani  01-05-2002    MBA          70
2      3     Nirmeet  01-01-2003  MSCIT          60
3      4        Nimu  01-02-2003    MBA          50
4      5       Vishv  15-01-2000   BCOM          45
5      6     DhyaniD  16-01-1903    NaN          30
6      7     Devarsh  12-09-2003  MSCIT          50
7      8      Dhyani  01-05-2002    MBA          70
8      9     Nirmeet  01-01-2003  MSCIT          60
9     10        Nimu  01-02-2003    MBA          50
10    11       Vishv  15-01-2000   BCOM          45
11    12     DhyaniD  16-01-1903    NaN          30

In [37]:
print(stuData.head())

   srno StudentName         DOB Course  Percentage
0     1     Devarsh  12-09-2003  MSCIT          50
1     2      Dhyani  01-05-2002    MBA          70
2     3     Nirmeet  01-01-2003  MSCIT          60
3     4        Nimu  01-02-2003    MBA          50
4     5       Vishv  15-01-2000   BCOM          45

In [38]:
print(stuData.tail())

    srno StudentName         DOB Course  Percentage
7      8      Dhyani  01-05-2002    MBA          70
8      9     Nirmeet  01-01-2003  MSCIT          60
9     10        Nimu  01-02-2003    MBA          50
10    11       Vishv  15-01-2000   BCOM          45
11    12     DhyaniD  16-01-1903    NaN          30

In [39]:
print(stuData.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   srno         12 non-null     int64
 1   StudentName  12 non-null     object
 2   DOB          12 non-null     object
 3   Course       10 non-null     object
 4   Percentage   12 non-null     int64
dtypes: int64(2), object(3)
memory usage: 612.0+ bytes
None

In [40]:
print(stuData.sample(5))

    srno StudentName         DOB Course  Percentage
4      5       Vishv  15-01-2000   BCOM          45
9     10        Nimu  01-02-2003    MBA          50
3      4        Nimu  01-02-2003    MBA          50
11    12     DhyaniD  16-01-1903    NaN          30
1      2      Dhyani  01-05-2002    MBA          70

In [41]:
filledStud=stuData.fillna(30)
print(filledStud)

    srno StudentName         DOB Course  Percentage
0      1     Devarsh  12-09-2003  MSCIT          50
1      2      Dhyani  01-05-2002    MBA          70
2      3     Nirmeet  01-01-2003  MSCIT          60
3      4        Nimu  01-02-2003    MBA          50
4      5       Vishv  15-01-2000   BCOM          45
5      6     DhyaniD  16-01-1903     30          30
6      7     Devarsh  12-09-2003  MSCIT          50
7      8      Dhyani  01-05-2002    MBA          70
8      9     Nirmeet  01-01-2003  MSCIT          60
9     10        Nimu  01-02-2003    MBA          50
10    11       Vishv  15-01-2000   BCOM          45
11    12     DhyaniD  16-01-1903     30          30

In [42]:
new=stuData["Course"].fillna("MCA")
print(new)

0     MSCIT
1       MBA
2     MSCIT
3       MBA
4      BCOM
5       MCA
6     MSCIT
7       MBA
8     MSCIT
9       MBA
10     BCOM
11      MCA
Name: Course, dtype: object

In [43]:
print(stuData)

    srno StudentName         DOB Course  Percentage
0      1     Devarsh  12-09-2003  MSCIT          50
1      2      Dhyani  01-05-2002    MBA          70
2      3     Nirmeet  01-01-2003  MSCIT          60
3      4        Nimu  01-02-2003    MBA          50
4      5       Vishv  15-01-2000   BCOM          45
5      6     DhyaniD  16-01-1903    NaN          30
6      7     Devarsh  12-09-2003  MSCIT          50
7      8      Dhyani  01-05-2002    MBA          70
8      9     Nirmeet  01-01-2003  MSCIT          60
9     10        Nimu  01-02-2003    MBA          50
10    11       Vishv  15-01-2000   BCOM          45
11    12     DhyaniD  16-01-1903    NaN          30

In [44]:
new=stuData["Course"].fillna("MCA")
print(new)

0     MSCIT
1       MBA
2     MSCIT
3       MBA
4      BCOM
5       MCA
6     MSCIT
7       MBA
8     MSCIT
9       MBA
10     BCOM
11      MCA
Name: Course, dtype: object

In [47]:
print(stuData)

    srno StudentName         DOB Course  Percentage
0      1     Devarsh  12-09-2003  MSCIT          50
1      2      Dhyani  01-05-2002    MBA          70
2      3     Nirmeet  01-01-2003  MSCIT          60
3      4        Nimu  01-02-2003    MBA          50
4      5       Vishv  15-01-2000   BCOM          45
5      6     DhyaniD  16-01-1903    MCA          30
6      7     Devarsh  12-09-2003  MSCIT          50
7      8      Dhyani  01-05-2002    MBA          70
8      9     Nirmeet  01-01-2003  MSCIT          60
9     10        Nimu  01-02-2003    MBA          50
10    11       Vishv  15-01-2000   BCOM          45
11    12     DhyaniD  16-01-1903    MCA          30

In [46]:
new=stuData["Course"].fillna("MCA",inplace=True)
print(new)

None

In [54]:
mean=stuData["Percentage"].mean()
print("Mean:",mean)

Mean: 50.833333333333336

In [55]:
median=stuData["Percentage"].median()
print("Median:",median)

Median: 50.0

In [56]:
mode=stuData["Percentage"].mode()
print("Mode:",mode[0])

Mode: 50